.sidebar {
    background-image: linear-gradient(45deg, #18d2af, #11cfdd);
    height: 100vh;
    position: fixed;
    left: 0;
}
.sidebar li {
    color: white;
    font-weight: 500;
}
.sidebar li:hover {
    transform: translate(5px);
    transition: 0.3s;
}
